body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	text-align: center;

	background-color: #f2f2f2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;

	border: none;
}

.page-wrapper {
	background-color: #ffffff;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation a {
	margin: 0;
	padding: 0;

	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #rgba(0, 0, 0, 0.3);
}

.site-navigation-current a{
	color: #766357;
}

.page-title {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.intro {
	background-color: #f2f2f2;
	background-image: url(../img/intro.jpg);
	background-repeat: no-repeat;
} 

.benefits-title {
	margin: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
}

.benefits-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.benefits-item-special {
	color: #ffffff;

	background-color: #81b3d2;
}

.benefits-item-title,
.benefits-sublist-title {
	font-size: 21px;
	line-height: 21px;
}

.benefits-item-text,
.benefits-sublist-text { 
	font-size: 14px;
	line-height: 21px;
	font-weight: 400; 
}

/* Кусочек сделала, но пока непонятно как выстраивать отступы не постоянные */
.benefits-item-text {
	content: "\2013 \2116 1 \2013 \A";
	white-space: pre;
}

.benefits-sublist {
	position: relative;

	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #eeeeee;
}

.benefits-sublist li::before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;

	width: 75px;
	height: 76px;
	
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

.benefits-sublist li:nth-child(2)::before {
	top: 76px;

	background-image: url("../img/icon-2.svg");
}

.benefits-sublist li:nth-child(3)::before {
	top: 152px;

	background-image: url("../img/icon-3.svg");
}

.suggestion-title {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.suggestion-info {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.suggestion-button {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #766357;
}

.suggestion-button:hover,
.suggestion-button:focus {
	background-color: #604e43;
}

.suggestion-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.modal {
	display: none;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.1);
}

.footer-contacts {
	font-size: 21px;
	line-height: 26px;
	text-align: left;
}

.footer-contacts a {
	color: #000000;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	color: #81b3d2;
}

.footer-contacts a:active {
	color: rgba(0, 0, 0, 0.3);
}

.footer-social-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-button {
	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px; /* Не понимаю откуда берется на макете высота 50px */
	font-weight: 400;
	color: #000000;
/* перенесла vertical-align из <а>, чтобы надпись была посредине строки по вертикали */
	vertical-align: middle;
}

.footer-copyright a {
	vertical-align: middle;
}

.filters {
	background-color: #669ec0;
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
}

.filters fieldset {
	border: none;
}

.filters ul {
	margin: 0;
	padding: 0;
}

.filters label {
	list-style: none;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.filters-title {
	font-size: 16px;
	line-height: 21px;

	color: #ffffff;
}

.filters-chechbox:hover,
.filters-chechbox:focus,
.filters-chechbox:active {
	background-color: #ffffff;
}

.filters-chechbox:disabled {
	background-color: #6a6a6a;
}

.filters-input {
	color: #ffffff;

	border: 2px solid #ffffff;
	background-color: transparent;
}

.filters-submit-button {
	text-transform: uppercase;
	color: #ffffff;

	border: 2px solid #ffffff;
	background-color: transparent;
}

.filters-submit-button:hover,
.filters-submit-button:focus {
	color: #000000;

	background-color: #ffffff;
}

.sorter-title {
	font-size: 21px;
}

.sorter-subtitle {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sorter ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.sorter-item a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
}

.active-sorter-item a {
	color: #81b3d2;

	border: none;
}

.sorter-item a:hover,
.sorter-item a:focus {
	color: #81b3d2;

	border-bottom: 1px dashed #81b3d2;
}

.sorter-item a:active {
	color: #000000;

	border: none;
}

.hotel-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hotel-title a {
	font-size: 21;
	line-height: 26px;
	color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
	color: #81b3d2;
}

.hotel-title a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.hotel-price {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.button-more-info {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #81b3d2;
	border: none;
}

.button-more-info:hover,
.button-more-info:focus {
	background-color: #669ec0;
}

.button-more-info:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.button-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #766357;
	border: none;
}

.button-book:hover,
.button-book:focus {
	background-color: #604e43;
}

.button-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

/*
.hotel-rating-star {
	width: 18px;
	height: 18px;

	background-image: url(../img/star.svg);
	background-repeat: repeat;
}

.two-stars {
	width: 42px;
	height: 18px;
	background-repeat: repeat-x;
}

.three-stars {
	width: 54px;
	height: 18px;
}

.four-stars {
	width: 72px;
	height: 18px;
}

.five-stars {
	width: 90px;
	height: 18px;
} */

.hotel-rating-star {
	width: 18px;
	height: 18px;

	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
}

.two-stars {
	width: 42px;

	background-image: url(../img/star.svg), url(../img/star.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: 0 0, 24px 0;
	}

.three-stars {
	width: 72px;

	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 0 0, 24px 0, 48px 0;
	}

	.four-stars {
	width: 96px;

	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 0 0, 24px 0, 48px 0, 72px 0;
	}

	.five-stars {
	width: 120px;

	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 0 0, 24px 0, 48px 0, 72px 0, 96px 0;
	}

.hotel-rating p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;

	background-color: #f2f2f2;
}