
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	text-align: center;

	background-color: #f2f2f2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.button {
	width: 110px;
	height: 27px;
	border: none;

	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;

	background-color: #81b3d2;
}

.button-alt {
	width: 142px;

	color: #ffffff;

	background-color: #766357;
}

.page-wrapper {
	width: 1200px;
	margin: 0 auto;

	background-color: #ffffff;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation li:nth-child(2) {
	margin-right: 239px;
}

.site-navigation a {
	margin: 0;
	padding: 0;

	color: #000000;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #rgba(0, 0, 0, 0.3);
}

.site-navigation-current a{
	color: #766357;
}

.page-title {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.intro {
	background-color: #f2f2f2;
	background-image: url(../img/intro.jpg);
	background-size: cover;
}

.benefits-title {
	margin: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
}

.benefits-list {
	margin: 0;
	padding: 0;

	list-style: none;

	counter-reset: list 0; 
}

.benefits-item-special {
	color: #ffffff;

	background-color: #81b3d2;
}

.benefits-item-title {
	margin: 0 auto;

	font-size: 21px;
	line-height: 21px;
}

.benefits-item-text { 
	font-size: 14px;
	line-height: 21px;
	font-weight: 400; 
}

.benefits-item-text::before {
	position: absolute;
	top: -42px;
	left: 41%;
	counter-increment: list;
	content: "\2014\00A0\2116" counter(list) "\00A0\2014";

	color: #ffffff;
}

.benefits-item-img {
	background-size: cover;
}

.benefits-sublist {
	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #ffffff;
}

.benefits-sublist-title {
	position: relative;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 23px;

	font-size: 21px;
	line-height: 21px;
}

.benefits-sublist-title::before {
	content: "";
	position: absolute;
	top: -105px;
	left: 50%;
	transform: translateX(-50%);

	width: 75px;
	height: 76px;

	background-repeat: no-repeat;
	background-color: #ffffff;
}

.benefits-sublist-home .benefits-sublist-title::before {
	background-image: url("../img/icon-1.svg");
}

.benefits-sublist-food .benefits-sublist-title::before {
	background-image: url("../img/icon-2.svg");
}

.benefits-sublist-souvenirs .benefits-sublist-title::before {
	background-image: url("../img/icon-3.svg");
}

.benefits-sublist-text {
	margin: 0 auto;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400; 
}

.suggestion-title {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.suggestion-info {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.suggestion-button {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #766357;
}

.suggestion-button:hover,
.suggestion-button:focus {
	background-color: #604e43;
}

.suggestion-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.modal {
	display: none;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.1);
}

.footer-contacts {
	font-size: 21px;
	line-height: 26px;
	text-align: left;
}

.footer-contacts a {
	color: #000000;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	color: #81b3d2;
}

.footer-contacts a:active {
	color: rgba(0, 0, 0, 0.3);
}

.footer-social-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-button {
	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
/* перенесла vertical-align из <а>, чтобы надпись была 
посредине строки по вертикали */
	vertical-align: middle;
}

.footer-copyright a {
	vertical-align: middle;
}

.filters {
	background-color: #669ec0;
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.filters-group,
.filters-cost {
	border: none;
}

.filters-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filters label {
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.filters-title {
	font-size: 16px;
	line-height: 21px;

	color: #ffffff;
}

.filters-chechbox:focus + label {
	outline: auto;
}

.filters-chechbox:disabled {
	background-color: #6a6a6a;
}

.filters-submit-button {
	text-transform: uppercase;
	color: #ffffff;

	border: 2px solid #ffffff;
	background-color: transparent;
}

.filters-submit-button:hover,
.filters-submit-button:focus {
	color: #000000;

	background-color: #ffffff;
}

.sort-title {
	font-size: 21px;
}

.sort-subtitle {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sorter ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.sort-item a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
}

.active-sort-item a {
	color: #81b3d2;

	border: none;
}

.sort-item a:hover,
.sort-item a:focus {
	color: #81b3d2;

	border-bottom: 1px dashed #81b3d2;
}

.sort-item a:active {
	color: #000000;

	border: none;
}

.hotel-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hotel-title a {
	font-size: 21;
	line-height: 26px;
	color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
	color: #81b3d2;
}

.hotel-title a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.hotel-price {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.button-more-info {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #81b3d2;
	border: none;
}

.button-more-info:hover,
.button-more-info:focus {
	background-color: #669ec0;
}

.button-more-info:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.button-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #766357;
	border: none;
}

.button-book:hover,
.button-book:focus {
	background-color: #604e43;
}

.button-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.hotel-rating-star {
	width: 114px;
	height: 18px;

	background-image: url(../img/star.svg);
	background-repeat: space;
}

.two-stars {
	width: 42px;
	}

.three-stars {
	width: 66px;
	}

	.four-stars {
	width: 89px;
	}

.hotel-rating p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;

	background-color: #f2f2f2;
}

/* Сетка */

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 15px;
}

.site-navigation li {
	flex-basis: 20%;
}

.intro {
	margin-top: 0;
	padding-top: 76px;
	padding-bottom: 79px;
}

.page-title {
	width: 46.7%;
	margin: 0 auto;
	margin-bottom: 26px;
}

.benefits {
	padding-top: 53px;
}

.benefits-title {
	width: 40.75%
	margin: 0 auto;
	margin-bottom: 50px;
}

.benefits-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 57px;
}

.benefits-item-big {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.benefits-item-big:nth-child(2n) {
	flex-direction: row-reverse;
}

.benefits-item-special {
	width: 33.3334%;

	padding-top: 48px;
}

.benefits-item-title {
	width: 40%;
	margin: 0 auto;
	margin-bottom: 65px;
	}

.benefits-item-img {
	width: 66.6667%;
}

.benefits-item-img img {
	display: block;
}

.benefits-item-text { 
	position: relative;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 54px;
}

.benefits-sublist {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.benefits-sublist-item {
	flex-basis: 33.3%;
	padding-top: 161px;
}

.benefits-sublist-text {
	width: 75%;
	margin-bottom: 81px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400; 
}

.benefits-item-special-bridge .benefits-item-text {
	width: 80%;
}

.benefits-item-small {
	width: 33.3334%;
	padding-top: 49px;

	background-color: #eeeeee;
}

.benefits-item-small .benefits-item-title {
	width: 35%;
}

.benefits-item-small .benefits-item-text::before {
	color: #000000;
}

.benefits-item-small .benefits-item-text {
	width: 62%;
}

.benefits-item-small .benefits-item-text-wide {
	width: 66%;
}

.suggestion-title {
	margin-bottom: 23px;
}

.suggestion-info {
	margin-top: 23px;
	margin-bottom: 47px;
}

.suggestion-button {
	width: 568px;
	min-height: 86px;
	/*padding-top: 43px;
	padding-bottom: 43px; Инспектор выдает 0 высоту кнопки и
	не видит текст*/
}

.map {
	position: relative;
	height: 593px;
}

.map img {
	position: absolute;
	top: 0;
	left: 0;
}

.main-footer {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 122px;
	padding-right: 101px;
}

.main-footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-contacts {
	margin: 0;
}

.hashtag {
	margin: 0;
	margin-bottom: 6px;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center; /* Сейчас ссылка (прозрачная область)
	мешает центрировать копирайт, когда ее поправим, то все 
	выровняется*/
	width: 197px;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	padding-top: 28px;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 33px;

	text-align: left;
}

.filters-group {
	width: 154px;
	margin: 0;
	padding: 0;
	padding-right: 115px;
}

.filters-title {
	margin-bottom: 16px;
}

.filters-cost{
	padding: 0;
	margin-left: auto;
	margin-bottom: 57px; /* Пока нет range */

	text-align: left;
}

.filters-cost-group { /*Не поняла про какую демку ты говорил
	в комментариях*/
	flex-basis: 318px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.filters-submit-button {
	width: 137px;
	margin-left: 85px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.filters-list li {
	margin-bottom: 20px;
}

.filters-list li:last-child {
	margin-bottom: 0;
}

.sorter {
	display: flex;
	padding-top: 30px;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 28px;
}

.sort-title {
	margin-right: 46px;
}

.sort-subtitle {
	margin-right: 40px;
	padding-top: 6px;
}

.sort-items {
	display: flex;
	flex-wrap: wrap;
	width: 354px;
}

.sort-list {
	display: flex;
	min-width: 238px;
}

.sort-item {
	margin-right: 33px;
	padding-top: 3px;
}

.sort-item:last-child {
	margin-right: 0;
}

.hotel-section {
	padding: 0 72px;
}

.hotel-title {
	margin: 0;
	padding: 0;

	font-size: 21px;
}

.hotel-section p {
	margin: 0;
	padding: 0;
}

.hotel-item {
	display: flex;
	justify-content: space-between;
	padding-top: 28px;
	padding-bottom: 31px;
}

.hotel-info {
	display: flex;
	justify-content: flex-start;
}

.hotel-img {
	height: 92px;
	margin-right: 30px;
}

.hotel-info-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 258px;

	text-align: left;
}

.hotel-title {
	width: 100%;
	margin-bottom: 5px; /* Чтобы дотолкать до границы кнопки,
	но ощущение костыля... Потому как я ожидала, что все решит
	justify-content: space-between; */
}

.hotel-type,
.hotel-price {
	width: 50%;
	margin-bottom: 10px; /* Чтобы дотолкать до границы кнопки */
}

/*Не поняла как отступ появился между кнопками*/

.hotel-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.hotel-rating-star {
	align-self: flex-end;
}

.hotel-rating p {
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 16px;
	padding-right: 13px;
}